MW_XML_DUMP_NAMESPACE="{http://www.mediawiki.org/xml/export-0.11/}"
MW_XML_UNPACK_MAX_NUM_PAGES=20
SQL_INSERT_BATCH_SIZE=100
JSON_DUMP_BATCH_SIZE=100
MEDIAWIKI_ACTION_API_ENTRYPOINT="http://localhost:8080/api.php"